<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.smart.sso.poetry.dao.poetry.GushiwenMinjuMapper">
	<resultMap id="BaseResultMap" type="org.smart.sso.poetry.model.po.poetry.Minju">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="minju_content" property="minjuContent" jdbcType="VARCHAR" />
		<result column="minju_url" property="minjuUrl" jdbcType="VARCHAR" />
		<result column="source_poetry" property="sourcePoetry" jdbcType="VARCHAR" />
		<result column="source_url" property="sourceUrl" jdbcType="VARCHAR" />
		<result column="recommend_flag" property="recommendFlag" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, minju_content, minju_url, source_poetry, source_url, recommend_flag, create_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
			<include refid="Base_Column_List" />
		from 
			T_GUSHIWEN_MINJU
		where 
			id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from T_GUSHIWEN_MINJU where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="org.smart.sso.poetry.model.po.poetry.Minju">
		insert into T_GUSHIWEN_MINJU (
			id, minju_content, minju_url, source_poetry, source_url, recommend_flag, create_time, update_time
		)
		values (
			#{id,jdbcType=BIGINT}, #{minjuContent,jdbcType=VARCHAR}, #{minjuUrl,jdbcType=VARCHAR},
			#{sourcePoetry,jdbcType=VARCHAR}, #{sourceUrl,jdbcType=VARCHAR}, #{recommendFlag,jdbcType=INTEGER}, 
			#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="org.smart.sso.poetry.model.po.poetry.Minju">
		insert into T_GUSHIWEN_MINJU
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="minjuContent != null">
				minju_content,
			</if>
			<if test="minjuUrl != null">
				minju_url,
			</if>
			<if test="sourcePoetry != null">
				source_poetry,
			</if>
			<if test="sourceUrl != null">
				source_url,
			</if>
			<if test="recommendFlag != null">
				recommend_flag,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="minjuContent != null">
				#{minjuContent,jdbcType=VARCHAR},
			</if>
			<if test="minjuUrl != null">
				#{minjuUrl,jdbcType=VARCHAR},
			</if>
			<if test="sourcePoetry != null">
				#{sourcePoetry,jdbcType=VARCHAR},
			</if>
			<if test="sourceUrl != null">
				#{sourceUrl,jdbcType=VARCHAR},
			</if>
			<if test="recommendFlag != null">
				#{recommendFlag,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.smart.sso.poetry.model.po.poetry.Minju">
		update T_GUSHIWEN_MINJU
		<set>
			<if test="minjuContent != null">
				minju_content = #{minjuContent,jdbcType=VARCHAR},
			</if>
			<if test="minjuUrl != null">
				minju_url = #{minjuUrl,jdbcType=VARCHAR},
			</if>
			<if test="sourcePoetry != null">
				source_poetry = #{sourcePoetry,jdbcType=VARCHAR},
			</if>
			<if test="sourceUrl != null">
				source_url = #{sourceUrl,jdbcType=VARCHAR},
			</if>
			<if test="recommendFlag != null">
				recommend_flag = #{recommendFlag,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.smart.sso.poetry.model.po.poetry.Minju">
		update T_GUSHIWEN_MINJU
		set 
			minju_content = #{minjuContent,jdbcType=VARCHAR},
			minju_url = #{minjuUrl,jdbcType=VARCHAR},
			source_poetry = #{sourcePoetry,jdbcType=VARCHAR},
			source_url = #{sourceUrl,jdbcType=VARCHAR},
			recommend_flag = #{recommendFlag,jdbcType=INTEGER},
			create_time = #{createTime,jdbcType=TIMESTAMP},
			update_time = #{updateTime,jdbcType=TIMESTAMP}
		where 
			id = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="selectTotalMinjuCount" resultType="java.lang.Integer" >
		select
			count(0)
		from 
			T_GUSHIWEN_MINJU
		where 
			recommend_flag = '1'
	</select>
	
	<select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			<include refid="Base_Column_List" />
		from 
			T_GUSHIWEN_MINJU
		where 
			recommend_flag = '1'
		limit #{orderId, jdbcType=INTEGER},1
	</select>
	
	<select id="selectRecommendNextByMinjuId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			<include refid="Base_Column_List" />
		from 
			T_GUSHIWEN_MINJU
		where 
			id > #{minjuId, jdbcType=INTEGER}
			and recommend_flag = '1'
		limit 1
	</select>
</mapper>