<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.smart.sso.poetry.dao.poetry.GushiwenTagMapper">
	<resultMap id="BaseResultMap" type="org.smart.sso.poetry.model.po.poetry.Tag">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="tag_name" property="tagName" jdbcType="VARCHAR" />
		<result column="tag_url" property="tagUrl" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, tag_name, tag_url, create_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from T_GUSHIWEN_TAG
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from T_GUSHIWEN_TAG
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="org.smart.sso.poetry.model.po.poetry.Tag">
		insert into T_GUSHIWEN_TAG (
			id, tag_name, tag_url, create_time, update_time)
		values (
			#{id,jdbcType=BIGINT}, #{tagName,jdbcType=VARCHAR},	#{tagUrl,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="org.smart.sso.poetry.model.po.poetry.Tag">
		insert into T_GUSHIWEN_TAG
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="tagName != null">
				tag_name,
			</if>
			<if test="tagUrl != null">
				tag_url,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="tagName != null">
				#{tagName,jdbcType=VARCHAR},
			</if>
			<if test="tagUrl != null">
				#{tagUrl,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.smart.sso.poetry.model.po.poetry.Tag">
		update T_GUSHIWEN_TAG
		<set>
			<if test="tagName != null">
				tag_name = #{tagName,jdbcType=VARCHAR},
			</if>
			<if test="tagUrl != null">
				tag_url = #{tagUrl,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.smart.sso.poetry.model.po.poetry.Tag">
		update T_GUSHIWEN_TAG
		set tag_name = #{tagName,jdbcType=VARCHAR},
		tag_url = #{tagUrl,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<select id="selectAllTags" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from T_GUSHIWEN_TAG
	</select>
</mapper>