<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.smart.sso.poetry.dao.poetry.GushiwenAuthorMapper">
	
	<resultMap id="BaseResultMap" type="org.smart.sso.poetry.model.po.poetry.Author">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="author_name" property="authorName" jdbcType="VARCHAR" />
		<result column="author_dynasty" property="authorDynasty" jdbcType="VARCHAR" />
		<result column="author_url" property="authorUrl" jdbcType="VARCHAR" />
		<result column="author_desc" property="authorDesc" jdbcType="VARCHAR" />
		<result column="author_img" property="authorImg" jdbcType="VARCHAR" />
		<result column="point_number" property="pointNumber" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, author_name, author_dynasty, author_url, author_desc, author_img, point_number, create_time, update_time
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from T_GUSHIWEN_AUTHOR
		where id = #{id,jdbcType=BIGINT}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from T_GUSHIWEN_AUTHOR
		where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="org.smart.sso.poetry.model.po.poetry.Author">
		insert into T_GUSHIWEN_AUTHOR (id, author_name, author_dynasty,
		author_url, author_desc, author_img,
		point_number, create_time, update_time
		)
		values (#{id,jdbcType=BIGINT}, #{authorName,jdbcType=VARCHAR},
		#{authorDynasty,jdbcType=VARCHAR},
		#{authorUrl,jdbcType=VARCHAR}, #{authorDesc,jdbcType=VARCHAR}, #{authorImg,jdbcType=VARCHAR},
		#{pointNumber,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="org.smart.sso.poetry.model.po.poetry.Author">
		insert into T_GUSHIWEN_AUTHOR
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="authorName != null">
				author_name,
			</if>
			<if test="authorDynasty != null">
				author_dynasty,
			</if>
			<if test="authorUrl != null">
				author_url,
			</if>
			<if test="authorDesc != null">
				author_desc,
			</if>
			<if test="authorImg != null">
				author_img,
			</if>
			<if test="pointNumber != null">
				point_number,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="authorName != null">
				#{authorName,jdbcType=VARCHAR},
			</if>
			<if test="authorDynasty != null">
				#{authorDynasty,jdbcType=VARCHAR},
			</if>
			<if test="authorUrl != null">
				#{authorUrl,jdbcType=VARCHAR},
			</if>
			<if test="authorDesc != null">
				#{authorDesc,jdbcType=VARCHAR},
			</if>
			<if test="authorImg != null">
				#{authorImg,jdbcType=VARCHAR},
			</if>
			<if test="pointNumber != null">
				#{pointNumber,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="org.smart.sso.poetry.model.po.poetry.Author">
		update T_GUSHIWEN_AUTHOR
		<set>
			<if test="authorName != null">
				author_name = #{authorName,jdbcType=VARCHAR},
			</if>
			<if test="authorDynasty != null">
				author_dynasty = #{authorDynasty,jdbcType=VARCHAR},
			</if>
			<if test="authorUrl != null">
				author_url = #{authorUrl,jdbcType=VARCHAR},
			</if>
			<if test="authorDesc != null">
				author_desc = #{authorDesc,jdbcType=VARCHAR},
			</if>
			<if test="authorImg != null">
				author_img = #{authorImg,jdbcType=VARCHAR},
			</if>
			<if test="pointNumber != null">
				point_number = #{pointNumber,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="org.smart.sso.poetry.model.po.poetry.Author">
		update T_GUSHIWEN_AUTHOR
		set author_name = #{authorName,jdbcType=VARCHAR},
		author_dynasty = #{authorDynasty,jdbcType=VARCHAR},
		author_url = #{authorUrl,jdbcType=VARCHAR},
		author_desc = #{authorDesc,jdbcType=VARCHAR},
		author_img = #{authorImg,jdbcType=VARCHAR},
		point_number = #{pointNumber,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>