<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.smart.sso.poetry.dao.poetry.GushiwenBookMapper">
	<resultMap id="BaseResultMap" type="org.smart.sso.poetry.model.po.poetry.Book">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="book_name" property="bookName" jdbcType="VARCHAR" />
		<result column="book_url" property="bookUrl" jdbcType="VARCHAR" />
		<result column="book_img" property="bookImg" jdbcType="VARCHAR" />
		<result column="book_desc" property="bookDesc" jdbcType="VARCHAR" />
		<result column="study_flag" property="studyFlag" jdbcType="INTEGER" />
		<result column="point_number" property="pointNumber" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, book_name, book_url, book_img, book_desc, study_flag, point_number, create_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from T_GUSHIWEN_BOOK
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from T_GUSHIWEN_BOOK
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="org.smart.sso.poetry.model.po.poetry.Book">
		insert into T_GUSHIWEN_BOOK (
			id, book_name, book_url, book_img, book_desc, study_flag, point_number,	create_time, update_time
		)
		values (
			#{id,jdbcType=BIGINT}, #{bookName,jdbcType=VARCHAR}, #{bookUrl,jdbcType=VARCHAR},
			#{bookImg,jdbcType=VARCHAR}, #{bookDesc,jdbcType=VARCHAR}, #{studyFlag,jdbcType=INTEGER}, 
			#{pointNumber,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="org.smart.sso.poetry.model.po.poetry.Book">
		insert into T_GUSHIWEN_BOOK
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="bookName != null">
				book_name,
			</if>
			<if test="bookUrl != null">
				book_url,
			</if>
			<if test="bookImg != null">
				book_img,
			</if>
			<if test="bookDesc != null">
				book_desc,
			</if>
			<if test="studyFlag != null">
				study_flag,
			</if>
			<if test="pointNumber != null">
				point_number,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="bookName != null">
				#{bookName,jdbcType=VARCHAR},
			</if>
			<if test="bookUrl != null">
				#{bookUrl,jdbcType=VARCHAR},
			</if>
			<if test="bookImg != null">
				#{bookImg,jdbcType=VARCHAR},
			</if>
			<if test="bookDesc != null">
				#{bookDesc,jdbcType=VARCHAR},
			</if>
			<if test="studyFlag != null">
				#{studyFlag,jdbcType=INTEGER},
			</if>
			<if test="pointNumber != null">
				#{pointNumber,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.smart.sso.poetry.model.po.poetry.Book">
		update T_GUSHIWEN_BOOK
		<set>
			<if test="bookName != null">
				book_name = #{bookName,jdbcType=VARCHAR},
			</if>
			<if test="bookUrl != null">
				book_url = #{bookUrl,jdbcType=VARCHAR},
			</if>
			<if test="bookImg != null">
				book_img = #{bookImg,jdbcType=VARCHAR},
			</if>
			<if test="bookDesc != null">
				book_desc = #{bookDesc,jdbcType=VARCHAR},
			</if>
			<if test="studyFlag != null">
				study_flag = #{studyFlag,jdbcType=INTEGER},
			</if>
			<if test="pointNumber != null">
				point_number = #{pointNumber,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.smart.sso.poetry.model.po.poetry.Book">
		update T_GUSHIWEN_BOOK
		set book_name = #{bookName,jdbcType=VARCHAR},
		book_url = #{bookUrl,jdbcType=VARCHAR},
		book_img = #{bookImg,jdbcType=VARCHAR},
		book_desc = #{bookDesc,jdbcType=VARCHAR},
		study_flag = #{studyFlag,jdbcType=INTEGER},
		point_number = #{pointNumber,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="selectBookListStudy" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			T_GUSHIWEN_BOOK
		where 
			study_flag = '1'
		limit #{fromNo}, #{pageSize}
	</select>
</mapper>